.banner {
    background: url('../img/banner.jpg') center / cover no-repeat;
    padding-top: 5em;
    padding-bottom: 5em;
    position: relative;

    @include from(large) {
        padding-top: 9em;
        padding-bottom: 9em;
    }

    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: linear-gradient(120deg, $accent, $primary);
        opacity: .6;
    }

    &__copy {
        text-align: center;
        color: #fff;
        position: relative;

        @include from(large) {
            text-align: left;
        
        }
    }

    &__title {
        @include font(title1);
        margin-bottom: .5em;
    }

    &__subtitle {
        background: rgba($primary, .9);
        padding: 0.5em 1em;
        display: table;
        margin: 0 auto;

        @include from(large) {
            margin-left: 3em;
        }
    }
}